<a href="{{ .RelPermalink }}" class="card-link">
  <article class="compact-card">

    {{ with .Params.image }}
      <img src="{{ . }}" alt="{{ $.Title }}" loading="lazy">
    {{ end }}

    <div class="compact-info">
      <h3>{{ .Title }}</h3>

      <small>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="14" height="14" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <circle cx="12" cy="12" r="10" />
          <polyline points="12 6 12 12 16 12" />
        </svg>
        {{ .ReadingTime }} min read
      </small>
    </div>

  </article>
</a>