{{ define "main" }}

<main class="article-page" data-pagefind-body>

    <!-- ARTICLE TITLE -->
    <h1 data-pagefind-meta="title">{{ .Title }}</h1>

    <!-- ARTICLE META -->
    <div class="article-meta" data-pagefind-ignore>
        <span class="byline">
             {{ .Params.author | default "The Intel Desk" }}
        </span>

        <span>
            {{ .Date.Format "January 2, 2006" }}
            •
            {{ .Date.Format "15:04" }} UTC
        </span>
    </div>

    <!-- ACTIONS -->
<div class="article-actions" data-pagefind-ignore>

  <button class="share-btn">
    <i class="fa-solid fa-share"></i>
    <span>Share</span>
  </button>

  <button class="save-btn">
  <i class="fa-regular fa-bookmark"></i>
  <span>Save</span>
</button>

</div>

    <!-- INVISIBLE FRONT MATTER SUMMARY HOOK FOR PAGEFIND -->
    {{ with .Params.summary }}
    <div style="display: none;" data-pagefind-meta="summary">{{ . }}</div>
    {{ end }}

    <!-- FEATURE IMAGE -->
    {{ with .Params.image }}
    <img
        class="article-image"
        src="{{ . }}"
        alt="{{ $.Title }}"
        data-pagefind-ignore
    />
    {{ end }}

    <!-- SOURCE -->
    {{ with .Params.source }}
    <div class="article-source" data-pagefind-ignore>
        Source: {{ . }}
    </div>
    {{ end }}

    <!-- ARTICLE BODY -->
    <div class="article-body">
        {{ .Content }}
    </div>

</main>

{{ end }}